# Banco de dados
DB_NAME=restaurantes-app
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# JWT
JWT_SECRET=troque-este-segredo-por-um-valor-grande-de-no-minimo-256-bits
JWT_EXPIRATION=3600000
